body{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    color: blue;
    font-family: "Times New Roman", Times, serif;
}

#display {
    color: white;
    font-size: 200%;
    font-family: "Times New Roman", Times, serif;
}

#generate, #show, #exit {
    cursor: pointer;
}

ul{ 
    list-style-type: none;
}

button{
    margin:30px 3px 0 0;
    padding:8px 20px;
    border:none;
    background: linear-gradient(to bottom, #890, #370);
    color:#FFF;
}